body {
  font-family: Arvo;
  background-color: #ddd;
  margin: 0;
  overflow: hidden;
  margin-top: 50px;
  margin-top: 70px;
}

.imgs-container {
  margin: 100px auto 50px;
  height: 400px;
  width: 400px;
  position: relative;
  z-index: 1;
}

.circle-picture {
  border-radius: 50%;
  box-shadow: 2px 2px 15px 0px rgba(0, 0, 0, 0.75);
  border: 4px solid #000;
  margin: 0 auto;
  height: 250px;
  width: 250px;
  position: absolute;
}

.imgs-container>.animate-in {
  height: 250px;
  width: 250px;

  animation-name: fade-in;
  animation-duration: 3s;
}

.circle-hover {
  animation-name: on-hover;
  animation-duration: 3s;
}

@keyframes fade-in {
  from {
    opacity: 0.1;
    height: 0px;
    width: 0px;
  }
  to {
    opacity: 1;
    height: 250px;
    width: 250px;
  }
}

@keyframes on-hover {
  0% {
    opacity: 1;
    height: 250px;
    width: 250px;
    bottom: 0%;
  }
  25% {
    opacity: 1;
    margin-top: -125px;
    bottom: -150px;
  }
  50% {
    opacity: 1;
    height: 300px;
    width: 300px;
    margin-top: -125px;
    bottom: -150px;
  }
  75% {
    opacity: 1;
    margin-top: -125px;
    bottom: -150px;
  }
  100% {
    opacity: 1;
    height: 250px;
    width: 250px;
    margin-top: 0%;
    bottom: 0%;
  }
}



.row-btn-margin>a>* {
  margin-top: 5px;
}

.navbar {
  box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.75);
  margin-bottom: 0;
}

#nav-topdiv {
  position: fixed;
  background-color: #000;
  margin-top: 100px;
  top: -150px;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 1;
}

#navigation-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin-top: 50px;
  height: 0px;
  z-index: 99;
}

.fixed-container {
  position: absolute;
  overflow: hidden;
  padding-top: 50px;
  top: 0px;
  bottom: 0px;
  left: 5px;
  right: 5px;
  height: 100%;
}

.center-btn {
  display: block;
  text-align: center;
  margin: auto;
}

.card {
  display: inline-block;
  position: relative;
  margin: 20px;
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.75);
}

.card-description {
  position: relative;
  background-color: #fff;
  color: #000;
  z-index: 100;
  margin-top: 220px;
  padding: 5px;
  overflow: hidden;
  box-shadow: none;
  padding-top: 40px;
  font-family: Raleway-Bold;
  font-size: 12pt;
  vertical-align: bottom;
}

.card-description>* {
  position: absolute;
  bottom: 0px;
  padding-top: 280px;
  margin-bottom: 0px;
  color: #000;
  z-index: 100;
  padding: 5px;
  overflow: hidden;
  box-shadow: none;
  left: 5px;
  font-size: 10pt;
  vertical-align: bottom;
}

.btn {
  padding: 7px 12px;
  text-align: center;
  text-transform: uppercase;
  transition: .3s ease-out;
  border-radius: 4px;
  vertical-align: middle;
  color: #FFFFFF;
  letter-spacing: 0;
  box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.75);
  position: relative;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  vertical-align: middle;
}

.text-area {
  position: relative;
  border-radius: 3px;
  padding: 20px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.7)
}

.home-page {
  overflow-y: auto;
}

.home-page>video {
  position: absolute;
  opacity: 0.8;
  top: 50px;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: calc(100% - 50px);
}

.success-page>video {
  position: absolute;
  opacity: 0.8;
  top: 50px;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: calc(100% - 50px);
}

.eins-page>video {
  position: absolute;
  opacity: 0.8;
  top: 50px;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: calc(100% - 50px);
}

.description-hover {
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.4);
  height: 100%;
  opacity: 0;
}

.description-hover>p {
  position: absolute;
  padding: 10px;
  border: 5px solid #000;
  color: #000;
  background: rgba(255, 255, 255, 0.4);
  font-weight: bold;
  font-size: 18px;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

.description-hover:hover {
  z-index: 100;
  animation-name: description-hover;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes description-hover {
  from {
    opacity: 0.1;
  }
  to {
    opacity: 1;
  }
}
